<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layouts/main_layout :: head(title = 'MyReddit')}">
</head>
<body>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
        src="/upvote.js" sec:authorize="isFullyAuthenticated()"></script>
<script
        src="/downvote.js" sec:authorize="isFullyAuthenticated()"></script>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<div th:replace="~{layouts/main_layout :: jumbotron}"></div>


<div class="container">

    <div class="alert alert-success" role="alert" th:if="${success}">
        Your new link was created!
    </div>

<!--    <button id="upvote" type="button" class="btn btn-primary" th:data-id = "${link.id}">increase vote</button>-->
<!--    <div id="votecount" th:text="${link.getVoteCount()}" align="center"></div>-->
    <!-- link -->
    <div class="row link">
        <div class="col-1">
            <div ><a href="javascript:void(0);" id="upvote"><i class="fas fa-arrow-up"></i></a></div>
            <div><span id = "votecount" class="votecount" th:text="${link.voteCount}"></span></div>
            <div ><a href="javascript:void(0);" id="downvote"><i class="fas fa-arrow-down"></i></a></div>
        </div>
        <div class="col-11">
            <p class="title">
                <a class="title " th:href="${link.url}" th:text="${link.title}" target="_blank">
                    Who is Xuan Kun?
                </a>
                <span class="domain">(<a th:href="${link.url}" th:text="${link.getDomainName()}"></a>)</span>
            </p>
            <p class="tagline ">submitted
                <time th:title="${link.getCreationDate()}" th:datetime="${link.getCreationDate()}" class="live-timestamp" th:text="${link.getPrettyTime()}">1 hour(s)</time> by
<!--                <a th:href="@{'/u/' + ${link.getUser().getAlias()}}" class="author" th:text="${link.getUser().getAlias()}">Huang Xuan Kun</a>-->
                <a href="javascript:void(0);" class="author" th:text="${link.getUser().getAlias()}">Huang Xuan Kun</a>
                <span class="userattrs"></span>
            </p>
            <p><a th:href="${link.url}" th:text="${link.url}" target="_blank"></a></p>
            <p>
                <a href="/" class="comments" th:text="|${link.getComments().size()} comments|"><i class="fas fa-comments"></i> 0 comments</a>
                <a href="#" class="share"><i class="fas fa-share-square"></i> share</a>
            </p>
        </div>
    </div>

    <!-- link comments -->
    <div id="comments" class="comments">
        <div class="row header">
            <div class="col-1">&nbsp;</div>
            <div class="col-11 title" th:text="|all ${link.getComments().size()} comments|">
                all 21 comments
            </div>
        </div>
        <div class="row addcomment" sec:authorize="hasRole('ROLE_USER')">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <form id="frmAddLink" method="POST" th:action="@{/link/comments}" th:object="${comment}">
                    <input type="hidden" th:field="*{link}"/>
                    <div class="form-group">
                        <textarea class="form-control" id="comment" rows="3" th:field="*{body}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
        <!-- single comment -->
        <div class="row comment" th:each="comment : ${link.getComments()}">
            <div class="col-1">&nbsp;</div>
            <div class="col-11">
                <span><a href="javascript:void(0);" th:text="${comment.getUser().getAlias()}"><i class="far fa-user"></i> Xuan Kun</a></span>
                <span th:text="${comment.getPrettyTime()}"><i class="far fa-clock"></i> 4 hours ago</span>
                <p class="body" th:text="${comment.getBody()}">Comment body</p>
                <a href="javascript:void(0);" class="permalink"><i class="fas fa-link"></i> permalink</a>
                <a href="javascript:void(0);" class="like"><i class="far fa-thumbs-up"></i> Like</a>
            </div>
        </div>
    </div>


<!--    <script sec:authorize="isFullyAuthenticated()">-->
<!--        const allvotes = document.querySelectorAll(".upvote, .downvote");-->
<!--        for(let i=0; i<allvotes.length; i++) {-->
<!--            let className = allvotes[i].className;-->
<!--            allvotes[i].addEventListener('click', function (event) {-->
<!--                const direction = className === 'upvote' ? 1 : -1;-->
<!--                const linkID = this.getAttribute("data-id");-->
<!--                const voteSum = document.getElementById('votecount-' + linkID);-->
<!--                const voteSumValue = voteSum.innerHTML;-->
<!--                const baseUrl = window.location.protocol +"//" + window.location.hostname + ":" + window.location.port;-->
<!--                fetch(`${baseUrl}/vote/link/${linkID}/direction/${direction}/votecount/${voteSumValue}`)-->
<!--                    .then(response => response.json())-->
<!--                    .then(data => voteSum.innerHTML = data)-->
<!--                    .catch(err => console.error(err));-->
<!--            });-->
<!--        }-->
<!--    </script>-->
</div>
    </body>
</html>